n8n/workflows/_all_workflows_backup.json
[
  {
    "createdAt": "2025-08-25T09:27:57.655Z",
    "updatedAt": "2025-08-25T10:43:29.910Z",
    "id": "pJxOmVJCifZK6f1u",
    "name": "Agent Callback Handler",
    "active": false,
    "isArchived": true,
    "nodes": [
      {
        "parameters": {
          "url": "https://agent.91.240.254.122.nip.io/healthz",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "id": "636df9bf-4e84-4aa6-94e1-8969ca38409a",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "chatId": "={{$items(0,\"TG Callback\").json.callback_query.message.chat.id}}",
          "text": "={{$items(0,\"TG Callback\").json.callback_query.message.chat.id}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          416,
          0
        ],
        "id": "906a9ba8-e0d1-4454-80ec-6fa161ee431f",
        "name": "Send a text message",
        "webhookId": "cd62b71a-ba94-4884-b851-09f4d3eb7ce8",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "callback_query"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "f4042a3d-eb75-4cc0-8455-44bda873abf2",
        "name": "TG Callback",
        "webhookId": "3d4f6858-319b-465b-ab86-2f97931daab1",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TG Callback": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "fccf4597-17e8-4fa9-aedd-67e889bb09ab",
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-25T09:27:57.655Z",
        "updatedAt": "2025-08-25T09:27:57.655Z",
        "role": "workflow:owner",
        "workflowId": "pJxOmVJCifZK6f1u",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  },
  {
    "createdAt": "2025-08-28T12:44:54.593Z",
    "updatedAt": "2025-08-28T12:44:54.593Z",
    "id": "WfFxG31flRauzsUo",
    "name": "My workflow",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "userIds": "1215909770"
          }
        },
        "id": "680954e6-89d3-4434-b90c-1be9c5817591",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          448,
          -240
        ],
        "webhookId": "0dc596a9-f28e-455e-81df-21a7990de868",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{$json.message.chat.id}}",
          "text": "Привет, я тебя слышу 👋",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✅ Одобрить",
                      "additionalFields": {
                        "callback_data": "approve"
                      }
                    },
                    {
                      "text": "🔍 Проверить агент /healthz",
                      "additionalFields": {
                        "callback_data": "check_healthz"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "❌ Отклонить",
                      "additionalFields": {
                        "callback_data": "reject"
                      }
                    },
                    {
                      "text": "🧠 Ask LLM",
                      "additionalFields": {
                        "callback_data": "ask"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "♻️ Deploy",
                      "additionalFields": {
                        "callback_data": "deploy"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "id": "10e23466-febd-420e-83d3-08e2af519b66",
        "name": "Send a text message",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          736,
          -240
        ],
        "webhookId": "d28e0707-269f-4915-b4b2-d420dbfa860e",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "ab2eb99c-f432-4a85-9bb2-e031b54e4af7",
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-28T12:44:54.593Z",
        "updatedAt": "2025-08-28T12:44:54.593Z",
        "role": "workflow:owner",
        "workflowId": "WfFxG31flRauzsUo",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  },
  {
    "createdAt": "2025-08-25T08:49:06.415Z",
    "updatedAt": "2025-08-28T12:02:20.007Z",
    "id": "SLcPh0mEKMvjSxJX",
    "name": "Telegram Basic Reply",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "userIds": "1215909770"
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -96,
          -64
        ],
        "id": "67341b4f-5338-4fc0-8d05-7c67217ce9a3",
        "name": "Telegram Trigger1",
        "webhookId": "aa5c38e7-a5dd-4850-80af-633ab5cbbed0",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "1215909770",
          "text": "Привет, я тебя слышу 👋",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✅ Одобрить",
                      "additionalFields": {
                        "callback_data": "approve"
                      }
                    },
                    {
                      "text": "Проверить агент /healthz",
                      "additionalFields": {
                        "callback_data": "check_healthz"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "❌ Отклонить",
                      "additionalFields": {
                        "callback_data": "reject"
                      }
                    },
                    {
                      "text": "🧠 Ask LLM",
                      "additionalFields": {
                        "callback_data": "ask"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "♻️ Deploy",
                      "additionalFields": {
                        "callback_data": "deploy"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          192,
          -48
        ],
        "id": "dca6e414-9e88-47fd-83ed-e94a50edb4fa",
        "name": "Send a text message",
        "webhookId": "43a72859-9b3e-42f1-951f-b03a4ac12cb6",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger1": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "368297fb-7aa3-4400-8eff-71eaebda11dd",
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-25T08:49:06.415Z",
        "updatedAt": "2025-08-25T08:49:06.415Z",
        "role": "workflow:owner",
        "workflowId": "SLcPh0mEKMvjSxJX",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  },
  {
    "createdAt": "2025-08-26T09:37:05.136Z",
    "updatedAt": "2025-08-26T09:49:52.949Z",
    "id": "VTCNAItjThUSXxzr",
    "name": "agent_issue_test.",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "0a646514-0f53-4aab-9d8d-12edc6e37b10",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://agent:80/create_issue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"token\": \"YOUR_GITHUB_PAT_HERE\",\n  \"repo_full_name\": \"tokaxl74/agentcompany\",\n  \"title\": \"Approve: тест от n8n (manual)\",\n  \"body\": \"Создано из временного тестового воркфлоу\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "id": "453de3dc-7185-48e6-9bac-97e51f1b14ef",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "3e32a1b5-a467-40c8-95cc-c6190d366138",
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-26T09:37:05.136Z",
        "updatedAt": "2025-08-26T09:37:05.136Z",
        "role": "workflow:owner",
        "workflowId": "VTCNAItjThUSXxzr",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  },
  {
    "createdAt": "2025-08-25T09:50:36.483Z",
    "updatedAt": "2025-08-28T11:43:43.043Z",
    "id": "RpzJDTQeC3d7MOUC",
    "name": "Telegram Agent Callback",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://agent.91.240.254.122.nip.io/create_issue",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"repo_full_name\": \"tokaxl74/agentcompany\",\n  \"title\": \"Approve: задача от агента\",\n  \"body\": \"Подтверждено кнопкой ✅ в Telegram\"\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -960,
          -224
        ],
        "id": "4f633bb3-5e0e-46a8-a2f6-e7c3b5f2f04e",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "updates": [
            "callback_query"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1744,
          -160
        ],
        "id": "f3884397-b42e-43af-a1be-a7bf73251587",
        "name": "TG Callback",
        "webhookId": "38f2be84-1222-4f9e-b87c-ca2d3b3714b9",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "callback",
          "queryId": "={{$json[\"callback_query\"][\"id\"]}}",
          "additionalFields": {
            "show_alert": false,
            "text": "✅ Принято"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1744,
          208
        ],
        "id": "f1a767ba-0405-4fc6-9c43-93b135ef9317",
        "name": "Answer Query a callback",
        "webhookId": "e41d3612-334a-4ec7-a7f3-43c7374c54af",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4ad45500-0ad7-4939-99fe-0ca8f830ee0e",
                "name": "chat_id",
                "value": "={{$json.callback_query.message.chat.id}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -960,
          -400
        ],
        "id": "3608051c-a0d9-4e95-8445-7aa32fb47075",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {
            "includeUnpaired": true
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -704,
          -384
        ],
        "id": "37c52be9-8d83-4047-b03e-e8f631f03cbb",
        "name": "Merge"
      },
      {
        "parameters": {
          "chatId": "={{$json.chat_id}}",
          "text": "=✅ Задача создана: {{$json.html_url || '—'}}\n\n",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -496,
          -336
        ],
        "id": "9498e679-3c48-4dc7-8f03-467847e0c491",
        "name": "Send a text message1",
        "webhookId": "e04ddb95-e8d0-4ea1-84e4-f61a81dc0284",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f89ea19f-8bca-4a38-981d-b09da217a339",
                "name": "html_url",
                "value": "={{ $json.body?.html_url || $json.html_url || '' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -720,
          -208
        ],
        "id": "c14826c2-4794-4255-bd39-f69c5c6ef1ca",
        "name": "Pick link"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c72bc0bb-bdcb-4bdf-81e3-2d404b935602",
                "leftValue": "={{$json.callback_query?.data}}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1248,
          -320
        ],
        "id": "b427ccb5-65f3-4c0b-91b7-826a08d1cedd",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $node[\"TG Callback\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}\n",
          "text": "={{$json.text || '—'}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -544,
          272
        ],
        "id": "38ff9d37-8201-4859-a467-886acedfdc69",
        "name": "Send a text message",
        "webhookId": "e04ddb95-e8d0-4ea1-84e4-f61a81dc0284",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://agent.91.240.254.122.nip.io/gen_text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"prompt\": \"Скажи коротко: агент подключён и отвечает?\",\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 60,\n  \"temperature\": 0.2\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -512,
          0
        ],
        "id": "97dedee8-43ae-4aa5-b30e-4b2c0f2a8995",
        "name": "LLM Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5f0fd090-c46e-4576-9ec5-1192b5abe582",
                "leftValue": "={{$json.callback_query.data}}",
                "rightValue": "check_healthz",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -832,
          16
        ],
        "id": "41845b22-5e83-4026-8dd8-5e50cee3f7da",
        "name": "check_healthz"
      },
      {
        "parameters": {
          "chatId": "={{$node[\"TG Callback\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"]}}",
          "text": "❌ Действие отменено",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -896,
          256
        ],
        "id": "70ee96e9-b67e-4672-a4bf-7fed46947a67",
        "name": "Send reject message",
        "webhookId": "e04ddb95-e8d0-4ea1-84e4-f61a81dc0284",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8f09b834-e937-490c-ae18-a2b170225cc8",
                "leftValue": "{{$json.callback_query.data}}",
                "rightValue": "deploy",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1536,
          32
        ],
        "id": "02380a0c-e911-4e33-9ded-5e1bd113533e",
        "name": "if_deploy"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://agent.91.240.254.122.nip.io/deploy_app",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Deploy-Secret",
                "value": "CHANGE_ME_DEPLOY_123"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"ref\": \"main\",\n  \"path\": \"~/agentcompany_sync\",\n  \"restart\": false\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1360,
          -80
        ],
        "id": "5beb9939-1edf-4fec-a6b9-4243f5b5c001",
        "name": "Deploy Request"
      },
      {
        "parameters": {
          "chatId": "={{$node[\"TG Callback\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"]}}",
          "text": "♻️ Deploy: {{$json.ok ? 'ok' : 'fail'}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1216,
          96
        ],
        "id": "22b48d7d-96e8-43bb-9e78-67c9054624c1",
        "name": "Send deploy result",
        "webhookId": "fd40ae4d-4eb1-4c6d-ac48-fa1bd50cc5b6",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Pick link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TG Callback": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "Answer Query a callback",
              "type": "main",
              "index": 0
            },
            {
              "node": "if_deploy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Answer Query a callback": {
        "main": [
          []
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          []
        ]
      },
      "Pick link": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "check_healthz",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Request": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_healthz": {
        "main": [
          [
            {
              "node": "LLM Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send reject message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "if_deploy": {
        "main": [
          [
            {
              "node": "Deploy Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deploy Request": {
        "main": [
          [
            {
              "node": "Send deploy result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "4d6e0542-6c84-4392-ab6e-625bae7bddc4",
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-25T09:50:36.483Z",
        "updatedAt": "2025-08-25T09:50:36.483Z",
        "role": "workflow:owner",
        "workflowId": "RpzJDTQeC3d7MOUC",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  },
  {
    "createdAt": "2025-08-27T08:04:34.640Z",
    "updatedAt": "2025-08-28T05:10:28.530Z",
    "id": "neFeB5Q2uJpYiIWn",
    "name": "Ask LLM",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "6647bf06-782e-4c2b-8be8-5d9f0cf54965",
        "name": "Telegram Trigger",
        "webhookId": "4d2ede33-5eae-4d74-9f8b-d2df6a6bab4b",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e663f77e-5cff-4a4a-823b-6d1117ef93a2",
                "leftValue": "={{$json[\"message\"][\"text\"]}}",
                "rightValue": "^\\/ask\\s+.+",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          208,
          0
        ],
        "id": "b2c86dec-f636-4a36-9013-ac4c84e194ab",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "debc97db-afd1-4e22-9fe0-e6ae57cc06a5",
                "name": "chat_id",
                "value": "={{$json.message.chat.id}}",
                "type": "string"
              },
              {
                "id": "ac5ad610-fbc6-459f-a10d-5e7cd59cc684",
                "name": "prompt",
                "value": "={{$json.message.text.replace(/^\\/ask\\s+/,'').trim()}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          -96
        ],
        "id": "48bb05df-49fd-4b74-8398-a874a6fe33ea",
        "name": "Extract"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://agent.91.240.254.122.nip.io/gen_text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"={{$json.prompt}}\",\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 300,\n  \"temperature\": 0.2\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          -96
        ],
        "id": "50614362-9adc-41fe-9867-76c4b5cf0b20",
        "name": "LLM Request"
      },
      {
        "parameters": {
          "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}\n",
          "text": "={{$json.text || '—'}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          832,
          -96
        ],
        "id": "a6eeae3b-b208-4832-9dd0-0793e1245fb4",
        "name": "Send a text message",
        "webhookId": "c02a716d-188a-4f43-a806-8e8453a64085",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{$json.message.chat.id}}",
          "text": "=Напиши: /ask твой вопрос",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          480,
          160
        ],
        "id": "92a951ea-0856-41b5-8332-1cbded04c8bf",
        "name": "Send a text message1",
        "webhookId": "c02a716d-188a-4f43-a806-8e8453a64085",
        "credentials": {
          "telegramApi": {
            "id": "hzifiBqJyBYncbJg",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Extract",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract": {
        "main": [
          [
            {
              "node": "LLM Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Request": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "3e78e005-9a34-493a-b4a1-8f35f058f40c",
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-27T08:04:34.640Z",
        "updatedAt": "2025-08-27T08:04:34.640Z",
        "role": "workflow:owner",
        "workflowId": "neFeB5Q2uJpYiIWn",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  },
  {
    "createdAt": "2025-08-25T08:41:23.236Z",
    "updatedAt": "2025-08-25T10:43:04.654Z",
    "id": "6pJhKWqkJb7XrlVI",
    "name": "Health Check (manual)",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "fbdd118e-79d9-41cf-8477-b299a3ed247f",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "https://agent.91.240.254.122.nip.io/healthz",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          0
        ],
        "id": "0a370ad7-ca4b-4902-b810-31b5c8afd7c9",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "5e3b58c1-0b66-40dd-b20d-9c2afc9854d8",
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-08-25T08:41:23.236Z",
        "updatedAt": "2025-08-25T08:41:23.236Z",
        "role": "workflow:owner",
        "workflowId": "6pJhKWqkJb7XrlVI",
        "projectId": "pCgHNIJvBAytQqU5",
        "project": {
          "createdAt": "2025-08-24T15:29:26.548Z",
          "updatedAt": "2025-08-28T10:55:47.860Z",
          "id": "pCgHNIJvBAytQqU5",
          "name": "Алексей Косенков <azon_ooo@mail.ru>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
]